<a href="https://colab.research.google.com/github/lauranonato/Projeto-Python-/blob/main/Satisfacao_de_clientes_em_um_ecommerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**projeto: satisfação dos clientes de um e-commerce**

Objetivo: prever a satisfação do cliente a partir de um conjunto de dados de ecommerce do Brasil.

Fonte: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

***Dicionário dos dados***:

order_status: status do pedido (entregue ou cancelado) (delivered or canceled).

order_purchase_timestamp: timestamp (data/hora) da compra de cada item.

order_delivered_customer_date: data real de entrega do pedido do cliente.

order_estimated_delievy_date: data de entrega estimada que foi fornecida ao cliente no momento da compra.

shipping_limit_date: data limite de envio do vendedor para a transferência do pedido ao parceiro logístico.

payment_sequential: método de pagamento utilizado pelo consumidor.

payment_type: método de pagamento preferido do cliente.

payment_installments: número de parcelas de pagamento preferido do cliente.

payment_value: valor da transação.

price: custo de cada item.

freight_value: custo de transporte para cada item (se um pedido tiver mais de um item, o valor do frete é dividido entre os itens).

product_category: categoria de cada item.

product_name_length: número de caracteres extraídos do nome do produto.

product_description_length: número de caracteres extraídos da descrição do produto.

product_photos_qty: número de fotos de produtos que foram publicadas.

review_score: classificação dada por um cliente em uma pesquisa de satisfação que varia de 1 a 5.

CARREGAMENTO DOS DADOS

In [5]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving olist_orders_dataset.csv to olist_orders_dataset.csv

In [6]:
#informações gerais sobre os pedidos
orders = pd.read_csv('olist_orders_dataset.csv')

In [10]:
#informações sobre avaliações dos pedidos
from google.colab import files
uploaded = files.upload()

Saving olist_order_reviews_dataset.csv to olist_order_reviews_dataset.csv

In [11]:
avaliacoes = pd.read_csv('olist_order_reviews_dataset.csv')

In [12]:
#informações sobre pagamentos dos pedidos  
from google.colab import files
uploaded = files.upload()

Saving olist_order_payments_dataset.csv to olist_order_payments_dataset.csv

In [14]:
pagamentos = pd.read_csv('olist_order_payments_dataset.csv')

In [15]:
#informações sobre os clientes  
from google.colab import files
uploaded = files.upload()

Saving olist_customers_dataset.csv to olist_customers_dataset.csv

In [16]:
clientes = pd.read_csv('olist_customers_dataset.csv')

In [19]:
#informações sobre os itens dos pedidos  
from google.colab import files
uploaded = files.upload()

Saving olist_order_items_dataset.csv to olist_order_items_dataset.csv

In [22]:
itens_pedidos = pd.read_csv('olist_order_items_dataset.csv')

In [23]:
#informações sobre os produtos
from google.colab import files
uploaded = files.upload()

Saving olist_products_dataset.csv to olist_products_dataset.csv

In [24]:
produtos = pd.read_csv('olist_products_dataset.csv')

In [25]:
#informações sobre os vendedores
from google.colab import files
uploaded = files.upload()

Saving olist_sellers_dataset.csv to olist_sellers_dataset.csv

In [26]:
vendedores = pd.read_csv('olist_sellers_dataset.csv')

In [27]:
#tradução dos produtos para o portugues
from google.colab import files
uploaded = files.upload()

Saving product_category_name_translation.csv to product_category_name_translation.csv

In [68]:
traducao = pd.read_csv('product_category_name_translation.csv')

In [70]:
print(traducao)

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

ENTENDENDO OS DADOS CARREGADOS

In [30]:
orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [32]:
#nome das colunas 
list(orders.columns.values)

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date']

In [31]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [33]:
#possiveis valores missings 
orders.apply(lambda x: sum(x.isnull()),axis=0)

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [34]:
avaliacoes.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [35]:
pagamentos.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

UNIÃO DOS DATASETS

Merge de todos os datasets referentes ao **consumidor**
(olist_orders_dataset.csv, olist_order_reviews_dataset.csv, olist_order_payments_dataset.csv)

In [42]:
consumidor = pd.concat([orders, avaliacoes, pagamentos],ignore_index=True)

In [43]:
consumidor.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
consumidor.drop_duplicates(subset="order_id")

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#consumidor = pd.merge(orders, avaliacoes, pagamentos, on=["order_id"],how="inner")

Merge de todos os datasets referentes ao **vendedor**

In [45]:
itens_pedidos.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [46]:
produtos.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [47]:
vendedores.head(3)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

In [50]:
#join de items pedidos e produtos por id do produto 
produtos_pedidos = pd.merge(itens_pedidos, produtos, on=["product_id"],how="inner")

In [ ]:
#join dos produtos pedidos com a tabela de vendedores por seller_id

In [52]:
vendedor_produto = pd.merge(produtos_pedidos, vendedores, on=["seller_id"],how="inner")

In [53]:
vendedor_produto.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP

In [54]:
#nome das colunas do dataframe apos o join  
list(vendedor_produto.columns.values)

['order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm',
 'seller_zip_code_prefix',
 'seller_city',
 'seller_state']

Merge dos datasets do **consumidor e do vendedor**

In [56]:
df_ecommerce = pd.merge(consumidor,vendedor_produto, on=["order_id"],how="inner")

In [58]:
df_ecommerce.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP

In [59]:
list(df_ecommerce.columns.values)

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date',
 'review_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp',
 'payment_sequential',
 'payment_type',
 'payment_installments',
 'payment_value',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm',
 'seller_zip_code_prefix',
 'seller_city',
 'seller_state']

In [60]:
#verificando os valores missings do dataframe apos o join
df_ecommerce.apply(lambda x: sum(x.isnull()),axis=0)

order_id                              0
customer_id                      229973
order_status                     229973
order_purchase_timestamp         229973
order_approved_at                229988
order_delivered_carrier_date     231167
order_delivered_customer_date    232427
order_estimated_delivery_date    229973
review_id                        230251
review_score                     230251
review_comment_title             329189
review_comment_message           294981
review_creation_date             230251
review_answer_timestamp          230251
payment_sequential               225022
payment_type                     225022
payment_installments             225022
payment_value                    225022
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_category_name              4899
product_name_lenght                4899
product_description_lenght         4899
product_photos_qty                 4899
product_weight_g                     56
product_length_cm                    56
product_height_cm                    56
product_width_cm                     56
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

In [61]:
#teste, selecionando pedidos de vendedores de maua        
df_ecommerce.loc[(df_ecommerce['seller_city']=='maua')]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
3,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
4,e481f51cbdc54678b7cc49136f2d6af7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350,maua,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341194,9692f3f8431de918c3daf5fd26a66668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36e7b53669ae85c66189c1ca55da4607,5.0,...,51.0,1095.0,2.0,600.0,30.0,4.0,20.0,9360,maua,SP
341195,9692f3f8431de918c3daf5fd26a66668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,1095.0,2.0,600.0,30.0,4.0,20.0,9360,maua,SP
341870,cd5d3f244e0546f5fc8733139dafc597,4a2c271cbbafa1d8e842cb3975693180,delivered,2017-12-10 01:10:15,2017-12-10 01:43:06,2017-12-11 17:45:10,2017-12-15 17:29:30,2018-01-05 00:00:00,NaN,NaN,...,33.0,1223.0,1.0,600.0,17.0,12.0,12.0,9320,maua,SP
341871,cd5d3f244e0546f5fc8733139dafc597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e2951e6b213999ecd986bb8eb6a5a6a4,5.0,...,33.0,1223.0,1.0,600.0,17.0,12.0,12.0,9320,maua,SP
341872,cd5d3f244e0546f5fc8733139dafc597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.0,1223.0,1.0,600.0,17.0,12.0,12.0,9320,maua,SP

In [62]:
#qual é a abrangencia geografica das vendas? pela cidade do vendedor  
df_ecommerce.seller_city.unique()

array(['maua', 'belo horizonte', 'guariba', 'mogi das cruzes',
       'guarulhos', 'sao paulo', 'atibaia', 'sao jose do rio pardo',
       'itaquaquecetuba', 'cariacica', 'porto alegre', 'ribeirao preto',
       'ibitinga', 'itajai', 'brasilia', 'jacarei', 'santo andre',
       'itatiba', 'tabatinga', 'mococa', 'curitiba',
       'santa barbara d´oeste', 'praia grande', 'campinas',
       'campo mourao', 'ilicinea', 'rio do sul', 'joinville', 'rio claro',
       'salto', 'santo andre/sao paulo', 'capivari', 'bento goncalves',
       'sao bernardo do campo', 'pradopolis', 'sao goncalo', 'apucarana',
       'pinhais', 'goiania', 'bauru', 'rio de janeiro', 'colombo',
       'santana de parnaiba', 'maringa', 'franca', 'porto ferreira',
       'osasco', 'bombinhas', 'borda da mata', 'limeira', 'barueri',
       'jundiai', 'blumenau', 'louveira', 'piracicaba', 'londrina',
       'presidente prudente', 'tres rios', 'hortolandia',
       'santa rita do sapucai', 'campo limpo paulista', 'cotia', 'betim',
       'sao jose do rio preto', 'santos', 'juiz de fora', 'caxias do sul',
       'uba', 'assis', 'campo largo', 'foz do iguacu', 'mogi guacu',
       'arapongas', 'niteroi', 'sao ludgero', 'lajeado',
       'lauro de freitas', 'jaboticabal', 'brusque', 'cruzeiro',
       'formiga', 'garca', 'araguari', 'icara', 'sao caetano do sul',
       'tubarao', 'itau de minas', 'petropolis', 'tupa',
       "santa barbara d'oeste", 'cosmopolis', 'teresopolis', 'sao luis',
       'sao jose', 'sete lagoas', 'penapolis', 'serra negra', 'guara',
       'navegantes', 'jau', 'diadema', 'porto belo', 'taruma', 'marilia',
       'florianopolis', 'echapora', 'rolandia', 'divinopolis', 'claudio',
       'rio branco', 'catanduva', 'pedreira', 'ipaussu', 'videira',
       'sumare', 'sao carlos', 'taboao da serra', 'rio bonito',
       'araucaria', 'aruja', 'novo hamburgo', 'salvador',
       'sao joaquim da barra', 'laranjal paulista', 'sao jose dos campos',
       'pilar do sul', 'sarandi', 'indaiatuba', 'contagem', 'bebedouro',
       'fronteira', 'itapecerica da serra', 'jaguaruna', 'riberao preto',
       'sao jose dos pinhais', 'cajamar', 'sao  paulo', 'rolante',
       'andradas', 'cornelio procopio', 'botucatu', 'birigui', 'mage',
       'tanabi', 'sao sebastiao', 'braganca paulista', 'dracena',
       'paulinia', 'uniao da vitoria', 'poa', 'cascavel',
       'ribeirao pires', 'carazinho', 'mirandopolis', 'vila velha',
       'volta redonda', 'nilopolis', 'mogi mirim', 'uberlandia', 'macae',
       'itapetininga', 'sorocaba', 'porto seguro', 'mesquita',
       'sao bento do sul', 'sando andre', 'portoferreira',
       'vendas@creditparts.com.br', 'carapicuiba', 'alvorada',
       'jaragua do sul', 'sao roque', 'conchal', 'alfenas', 'garuva',
       'viamao', 'cerqueira cesar', 'mamanguape', 'cafelandia',
       'cachoeirinha', 's jose do rio preto', 'votorantim',
       'tres coracoes', 'montenegro', 'pinhalzinho', 'cordeiropolis',
       'conselheiro lafaiete', 'patos de minas', 'eunapolis',
       'jaguariuna', 'lages', 'araraquara', 'votuporanga', 'muqui',
       'canoas', 'fazenda rio grande', 'ponta grossa', 'nova friburgo',
       'monte siao', 'armacao dos buzios', 'itauna', 'centro', 'criciuma',
       'vicente de carvalho', 'recife', 'concordia', 'queimados', 'sp',
       'araras', 'balneario camboriu', 'nova iguacu', 'bertioga',
       'brejao', 'pocos de caldas', 'novo horizonte', 'loanda',
       'campo do meio', 'sao paulo - sp', 'parana', 'congonhas',
       'canoinhas', 'mirassol', 'tatui', 'fortaleza',
       'sao joao de meriti', 'sinop', 'lencois paulista', 'barra velha',
       'anapolis', 'itu', 'itajobi', 'gama', 'aperibe', 'guaruja',
       'ponte nova', 'congonhal', 'ferraz de vasconcelos', 'batatais',
       'pompeia', 'ipatinga', 'presidente epitacio', 'sao joao del rei',
       'dois corregos', 'suzano', 'socorro', 'embu guacu', 'aracatuba',
       'viana', 'monte alto', 'toledo', 'rio verde', 'amparo',
       'vassouras', 'santa maria', 'descalvado', 'americana', 'itaborai',
       'ribeirao das neves', 'boituva', 'ampere', 'bonfinopolis de minas',
       'vicosa', 'umuarama', 'cuiaba', 'baependi', 'vitoria', 'jussara',
       'valinhos', 'floresta', 'muriae', 'jales', 'itaipulandia',
       'pirituba', 'teresina', 'luziania', 'varginha', 'mandirituba',
       'itapevi', 'ferraz de  vasconcelos', 'campina grande',
       'scao jose do rio pardo', 'bofete', 'camanducaia', 'imbituba',
       'jacutinga', 'timbo', 'itaporanga', 'palhoca', 'parai',
       'sao pedro', 'tiete', 'lagoa santa', 'varzea paulista',
       'monteiro lobato', 'registro', 'curitibanos', 'francisco beltrao',
       'carapicuiba / sao paulo', 'taubate', 'barra mansa',
       'mogi das cruzes / sp', 'engenheiro coelho', 'teixeira soares',
       'braco do norte', 'caucaia', 'mucambo', 'alambari',
       'mogi das cruses', 'ribeirao preto / sao paulo', 'parnamirim',
       'mateus leme', 'fernandopolis', 'uberaba', 'pinhalao', 'serrana',
       'flores da cunha', 'saquarema', 'santo antonio de padua',
       'vargem grande do sul', 'aparecida de goiania', 'angra dos reis',
       'farroupilha', 'mairipora', 'pederneiras', 'tiradentes',
       'ouro preto', 'paraiba do sul', 'ilheus', 'coronel fabriciano',
       "arraial d'ajuda (porto seguro)", 'mineiros do tiete', 'timoteo',
       'guanambi', 'torres', 'joao pessoa', 'campo magro', 'aparecida',
       'campina das missoes', 'mombuca', 'tres de maio', 'arinos',
       'bocaiuva do sul', 'barretos', 'andira-pr', 'ronda alta',
       'nova lima', 'massaranduba', 'pitanga', 'sao pedro da aldeia',
       'paranavai', 'santo angelo', 'coxim', 'franco da rocha',
       'buritama', 'resende', 'campo grande', 'extrema', 'santa catarina',
       'barrinha', 'marechal candido rondon', 'bady bassitt',
       'fernando prestes', 'ubatuba', 'caruaru', 'sombrio', 'cambe',
       'tabao da serra', 'guaratuba', 'bariri', 'santa cruz do sul',
       'sao leopoldo', 'arvorezinha', 'rodeio',
       'santa terezinha de itaipu', 'uruacu', 'california',
       'sertanopolis', 'mandaguacu', 'mairinque', 'marica', 'paulo lopes',
       'carmo do cajuru', 'brasilia df', 'sp / sp', 'lagoa da prata',
       'laurentino', 'bom jardim', 'auriflama/sp', 'formosa do oeste',
       'paincandu', 'campos dos goytacazes', 'nova odessa', 'rio grande',
       'portao', 'venancio aires', 'campo bom', 'natal', 'jambeiro',
       'duque de caxias', 'vargem grande paulista', 'cachoeira do sul',
       'santa maria da serra', 'auriflama', 'manaus', 'vespasiano',
       'castro', 'guanhaes', 'aracaju', 'presidente bernardes',
       'joao pinheiro', 'morrinhos', 'floranopolis', 'dores de campos',
       'entre rios do oeste', 'feira de santana', 'itapeva',
       'artur nogueira', 'pelotas', 'governador valadares',
       'igaracu do tiete', 'sabara', 'holambra', 'francisco morato',
       'pinhais/pr', 'ipe', 'joao monlevade', 'santa barbara d oeste',
       'santo antonio de posse', 'porto velho', 'xanxere', 'pedregulho',
       'afonso claudio', 'indaial', 'serra', 'ouro fino', 'jaci',
       'luiz alves', 'garopaba', 'miguelopolis', 'cananeia', '04482255',
       'irece', 'japira', 'nova petropolis', 'olimpia', 'sao bento',
       'cataguases', 'paraiso do sul', 'montes claros', 'taio',
       'clementina', 'formosa', 'rio negrinho', 'treze tilias',
       'tocantins', 'sao bernardo do capo', 'cariacica / es', 'janauba',
       'pato bragado', 'ibia', 'jacarei / sao paulo', 'estancia velha',
       'angra dos reis rj', 'ji parana', 'leme', 'colorado', 'chapeco',
       'santa rosa de viterbo', 'divisa nova', 'bahia', 'sbc/sp',
       'guaratingueta', 'garulhos', 'sao paulop', 'lorena', 'cianorte',
       'sao jose do rio pret', 'jaragua', 'embu das artes',
       'presidente getulio', 'lambari', 'goioere', 'pato branco', 'araxa',
       'domingos martins', 'rio de janeiro / rio de janeiro', 'irati',
       'piracanjuba', 'xaxim', 'bandeirantes', 'laguna', 'ipira',
       'santa rosa', 'imbituva', 'horizontina', 'osvaldo cruz', 'avare',
       'guarapuava', 'serra redonda', 'neopolis', 'belo horizont',
       'cachoeiro de itapemirim', 'guaimbe', 'alvares machado', 'gaspar',
       'imbe', 'tres coroas', 'palotina', 'erechim', 'caieiras',
       'imigrante', 'sao joao da boa vista', 'soledade', 'campos novos',
       'messias targino', 'sao paluo', 'sbc', 'cascavael',
       'pedro leopoldo', 'barro alto', 'sao paulo / sao paulo',
       'bom jesus dos perdoes', 'condor', 'pedrinhas paulista',
       'caratinga', 'sao paulo sp', 'igrejinha', 'mandaguari',
       'cravinhos', 'rio do oeste', 'triunfo', 'aguas claras df',
       'colatina', 'sao sebastiao da grama/sp', 'passos', 'picarras',
       'sao  jose dos pinhais', 'castro pires',
       'santa terezinha de goias', 'jarinu', 'cacador', 'guiricema',
       'rio de janeiro \\rio de janeiro', 'robeirao preto', 'itabira',
       'nhandeara', 'terra boa', 'monte alegre do sul', 'santa cecilia',
       'sao vicente', 'barbacena/ minas gerais', 'ararangua',
       'ao bernardo do campo', 'macatuba',
       'rio de janeiro, rio de janeiro, brasil', 'sao jose dos pinhas',
       'itirapina', 'belford roxo', 'brotas', "sao miguel d'oeste",
       'maua/sao paulo', 'balenario camboriu', 'pouso alegre', 'itapema',
       'nova trento', 'laranjeiras do sul', 'sao miguel do oeste',
       'lages - sc', 'marapoama', 'medianeira', 'ivoti', 'varzea alegre',
       'cordilheira alta', 'novo hamburgo, rio grande do sul, brasil',
       'vera cruz', 'eusebio', 'vitoria de santo antao', 'sapiranga',
       'paracambi', 'ribeirao pretp', 'camboriu', 'ourinhos', 'oliveira',
       'ibirite', 'uruguaiana', 'tambau', 'pacatuba', 'orleans',
       'jaciara', 'carmo da mata', 'marialva', 'minas gerais',
       'sao francisco do sul', 'barbacena', 'bage', 'campanha',
       'almirante tamandare', 'rio das pedras', 'itapui',
       'abadia de goias', 'prados', 'pitangueiras', 'sao pauo',
       'santo antonio da patrulha', 'juzeiro do norte', 'ipua',
       'araquari', 'guaira', 'orlandia', 'são paulo', 'pirassununga'],
      dtype=object)

In [63]:
df_ecommerce.seller_state.unique()

array(['SP', 'MG', 'ES', 'RS', 'DF', 'PR', 'SC', 'RJ', 'GO', 'BA', 'MA',
       'AC', 'PB', 'PE', 'CE', 'MT', 'PI', 'RN', 'MS', 'PA', 'AM', 'SE',
       'RO'], dtype=object)

In [65]:
#quais os status dos pedidos? 
df_ecommerce.order_status.unique()

array(['delivered', nan, 'invoiced', 'shipped', 'processing', 'canceled',
       'unavailable', 'approved'], dtype=object)

In [ ]:
#df_ecommerce.groupby(['seller_state'])['seller_id'].sum()

SELEÇÃO DOS DADOS DO DATASET

In [ ]:
#restringindo o dataset para as colunas que realmente irei trabalhar a analise

In [75]:
e_commerce = (df_ecommerce.loc[:,['order_status','order_purchase_timestamp','order_delivered_customer_date','order_estimated_delivery_date','shipping_limit_date'
,'payment_sequential','payment_type','payment_installments','payment_value','price'
,'freight_value','product_category_name','product_name_lenght','product_description_lenght','product_photos_qty','review_score']])

In [77]:
#tamanho da tabela final:
print(e_commerce.shape)

(342623, 16)

In [80]:
#formato das colunas no dataset final
e_commerce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342623 entries, 0 to 342622
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_status                   112650 non-null  object
 1   order_purchase_timestamp       112650 non-null  object
 2   order_delivered_customer_date  110196 non-null  object
 3   order_estimated_delivery_date  112650 non-null  object
 4   shipping_limit_date            342623 non-null  object
 5   payment_sequential             117601 non-null  float64
 6   payment_type                   117601 non-null  object
 7   payment_installments           117601 non-null  float64
 8   payment_value                  117601 non-null  float64
 9   price                          342623 non-null  float64
 10  freight_value                  342623 non-null  float64
 11  product_category_name          337724 non-null  object
 12  product_name_lenght            337724 non-null  float64
 13  product_description_lenght     337724 non-null  float64
 14  product_photos_qty             337724 non-null  float64
 15  review_score                   112372 non-null  float64
dtypes: float64(9), object(7)
memory usage: 44.4+ MB

In [83]:
#resumo estatistico do dataset final
e_commerce.describe()

,payment_sequential,payment_installments,payment_value,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,review_score
count,117601.000000,117601.000000,117601.000000,342623.000000,342623.000000,337724.000000,337724.000000,337724.000000,112372.000000
mean,1.093528,2.939482,172.686752,120.622328,20.005306,48.773626,787.200631,2.208235,4.032473
std,0.726692,2.774223,267.592290,183.440273,15.817076,10.028658,652.270634,1.720237,1.387849
min,1.000000,0.000000,0.000000,0.850000,0.000000,5.000000,4.000000,1.000000,1.000000
25%,1.000000,1.000000,60.870000,39.900000,13.080000,42.000000,348.000000,1.000000,4.000000
50%,1.000000,2.000000,108.210000,74.900000,16.270000,52.000000,602.000000,1.000000,5.000000
75%,1.000000,4.000000,189.260000,134.900000,21.150000,57.000000,985.000000,3.000000,5.000000
max,29.000000,24.000000,13664.080000,6735.000000,409.680000,76.000000,3992.000000,20.000000,5.000000

In [81]:
#teste para filtrar da linha 2 a linha 4
e_commerce[2:4]

,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,payment_sequential,payment_type,payment_installments,payment_value,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,review_score
2,NaN,NaN,NaN,NaN,2017-10-06 11:07:15,1.0,credit_card,1.0,18.12,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,NaN
3,NaN,NaN,NaN,NaN,2017-10-06 11:07:15,3.0,voucher,1.0,2.00,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,NaN

In [82]:
#teste para filtrar somente a coluna order_delivered_customer_date
e_commerce["order_delivered_customer_date"]

0         2017-10-10 21:25:13
1                         NaN
2                         NaN
3                         NaN
4                         NaN
                 ...
342618                    NaN
342619                    NaN
342620    2018-03-16 13:08:30
342621                    NaN
342622                    NaN
Name: order_delivered_customer_date, Length: 342623, dtype: object